.form{
    width: 500px;
    margin-left: 300px;
    text-align: left;
    margin-top: 20px;
  
  }
  
  form input{
    margin-bottom: 5px;
  }
  
  form input[type='button']{
    margin-right: 10px;
  }

  label {
    margin-top: 10px;
  }
