.progress-bar{
   
    display: flex;
    width: 100%;
    height: 5px;
    margin-top: 20px;
}

.btnEtapas{
    margin-left: -15x;
    width: 35px;
    height: 30px;
    border-radius: 50%;
    border-bottom: 2px;
    transition: .4s;
    position: absolute;
    margin-top: -20px;
    text-align: center;
    
    
}

.nomeEtapas{
  margin-top: 20px;
  margin-left: 10px;
}

.tituloEtapas{
  text-align: center;
  margin: 3px;
}

.progresso{
  position: relative;
  text-align: center;
  margin-top: 20px;
  height: 90px;
}

.etapas {  
    text-align: center;
    align-items: center;
    

}